audio {
  line-height: 20px;
  font-size: 10px;
}

.report {
  color: red;
  font-size: 8px;
  cursor: pointer;
}

.report-form {
  font-size: 16px;
  vertical-align: middle;
}

.report-form input[type=text] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  font-size: 20px;
  font-family: DefaultFont;
  width: 75%;
}

.loading {
  height: auto;
  max-width: 30px;
  position: absolute;
  left: -30px;
  top: 0;
}

.report-form input[type=submit] {
  margin-left: 10px;
  font-family: DefaultFont;
  border: 0;
  background-color: transparent;
}

.report-form .fa-window-close {
  font-size: 22px;
  vertical-align: middle;
  margin-left: 10px;
}

.item {
  position: relative;
  min-height: 55px;
  font-family: DefaultFont;
  border: 1px solid #888888;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.audio-item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.text-item {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  width: 100%;
}

.detail-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  width: 100%;
}

.detail-options {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

.separator {
  display: none;
}


.internal-separator {
  display: block;
  height: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  border: 1px dashed black;
}

.meta-info {
  width: 100%;
}

.details {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.filesource {
  font-size: 10px;
  text-decoration: none;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
}

.version {
  text-align: center;
  float: right;
  font-size: 10px;
  position: relative;
}

.single-detail {
  font-size: 16px;
}


@media only screen and (max-width: 600px) {

  .item {
    margin: 10px 0;
  }

  .audio-item {
    display: block;
    text-align: center;
  }

  .text-item {
    display: block;
  }

  .separator {
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
  }


}
