<div class="item">
  <div class="audio-item">
    <audio controls preload="none">
      <source src="{{parseFilename(filename)}}" type="audio/wav">
    </audio>
  </div>
  <div class="text-item">
    <div class="filename-cell">
      {{ filename }}
    </div>
    <div class="description-cell">
      {{ description }}
    </div>
    <div class="meta-info">
      <span class="version">
        {{version == 2 ? "Gothic II" : "Gothic I"}}
      </span>
    </div>


  </div>
  <div class="edit-section">
    <div class="item-tags-column">
        OBECNE TAGI
        <ul>
          <li (click)="removeTag(tag)"  class="fancy-tag" *ngFor="let tag of tags">
            - {{tag}}
          </li>
          <li (click)="acceptTag(pTag, i)" *ngFor="let pTag of proposedTagsE; index as i" class="fancy-tag p-tag">
            + {{pTag}}
          </li>
          <li class="fancy-tag new-tag">
           + <span #editSpanE class="new-tag" contenteditable="true"></span>
          </li>
        </ul>
    </div>
    <div class="all-tags-column">
      WSZYSTKIE TAGI
      <ul>
        <li (click)="addTag(tag)" class="fancy-tag" *ngFor="let tag of allTags">
          <span class="add-tag" >+</span>{{tag._id}} ({{tag.count}})
        </li>
      </ul>
    </div>
    <div class="description-column">
      OPISY PROPONOWANE
      <div class="e-description">
        <form class="report-form">
          <div class="detail-text">
            <span>Opis: </span>
            <input type="text" [(ngModel)]="reportDetails" name="reportDetails">
          </div>
          <div class="detail-options">
            <i (click)="updateSFX()" class="far fa-check-square"></i>
          </div>
        </form>
      </div>
      <div class="description-container">
        <div (click)="acceptDescription(descr)" *ngFor="let descr of proposedDescriptions" class="p-description">
          {{descr}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separator"></div>
