<div class="item">
  <div class="audio-item">
    <audio controls preload="none">
      <source src="{{parseFilename(filename)}}" type="audio/wav">
    </audio>
  </div>
  <div class="text-item">
    <span *ngIf="reportMode; else displayMode">
      <form class="report-form" (ngSubmit)="commitReport()">
        <span>Zaproponuj nowy tekst: </span>
        <input type="text" [(ngModel)]="reportDetails" name="reportDetails">
        <input type="submit">
        <i class="far fa-window-close"></i>
      </form>
    </span>
    <ng-template #displayMode>
      {{text}}
    </ng-template>
    <div class="meta-info">
      <a (click)="searchBySource()"  class="filesource">
       Plik: {{filesource}}
      </a>
      <span class="version">
        {{version == 2 ? "Gothic II" : "Gothic I"}}
        <br> <span class="report" (click)="openReport()">Zgłoś błąd</span>
      </span>
    </div>
  </div>
</div>

<div class="separator"></div>
