audio {
  line-height: 20px;
  font-size: 10px;
}

.item {
  position: relative;
  min-height: 55px;
  font-family: DefaultFont;
}

.audio-item {
  display: table-cell;
  vertical-align: middle;
}

.text-item {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  width: 100%;
}

.separator {
  display: none;
}

.meta-info {
  width: 100%;
}

.filesource {
  font-size: 10px;
  text-decoration: none;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.version {
  float: right;
  font-size: 10px;
}


@media only screen and (max-width: 600px) {

  .item {
    margin: 10px 0;
  }

  .audio-item {
    display: block;
    text-align: center;
  }

  .text-item {
    display: block;
  }

  .separator {
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
  }


}
