<div>
  <ng-template [ngIf]="record">
    <header>
      <div class="audio-item">
        <audio *ngIf="record && !recordLoading" id="filename" style="vertical-align: bottom" controls preload="none">
          <source src="{{ filename() }}" type="audio/wav" />
        </audio>
        <i (click)="share()" class="fa fa-share-alt"></i>
      </div>
      <h1>
        {{ record.transcript }}
      </h1>
      <h2>
        {{ name }}
      </h2>

      <div class="sections">
        <h3>Zobacz nagrania z tego samego skryptu:</h3>

        <div class="section">
          <h2 class="label">
            <span> Gra: </span>
            <a (click)="selectGame()">
              {{ record.game.name }}
            </a>
          </h2>
          <h2 class="label">
            <span> Aktor: </span>
            <a (click)="selectVoice()">
              {{ record.voice.name }}
            </a>
          </h2>
          <h2 class="label">
            <span> Plik: </span>
            <a (click)="selectScript()">
              {{ record.sourceFile.name }}
            </a>
          </h2>
          <h2 *ngIf="record.guild" class="label">
            <span> Gildia: </span>
            <a (click)="selectGuild()">
              {{ record.guild.name }}
            </a>
          </h2>
          <h2 *ngIf="record.npc" class="label">
            <span> NPC </span>
            <a (click)="selectNPC()">
              {{ record.npc.name }}
            </a>
          </h2>
        </div>
      </div>
    </header>

    <ng-template [ngIf]="g < 3">
      <div class="records" *ngFor="let record of records">
        <app-item [record]="record"></app-item>
      </div>

      <div class="page-bar centered">
        <span *ngIf="backDisplay" (click)="back()" class="icon-item-left">
          <i class="fa fa-arrow-left"></i>
        </span>
        <span>{{ recordCount }} - {{ upTo }} / {{ totalRecordCount }}</span>
        <span *ngIf="forwardDisplay" (click)="forward()" class="icon-item-right">
          <i class="fa fa-arrow-right"></i>
        </span>
        <select (ngModelChange)="onPageSizeChange($event)" [ngModel]="pageSizeSelected">
          <option *ngFor="let option of pageSizeOptions" value="{{ option }}">
            {{ option }}
          </option>
        </select>
      </div>
    </ng-template>
  </ng-template>
</div>