<div class="item">
  <div class="audio-item">
    <audio controls preload="none">
      <source src="{{ wavePath() }}" type="audio/wav" />
    </audio>
  </div>
  <div class="text-item">
    <span *ngIf="reportMode; else displayMode">
      <form class="report-form" (ngSubmit)="commitReport()">
        <span>Zaproponuj nowy tekst: </span>
        <input type="text" [(ngModel)]="reportDetails" name="reportDetails" />
        <input type="submit" />
        <i class="far fa-share" (click)="reportMode = false"></i>
      </form>
    </span>
    <ng-template #displayMode>
      <a
        class="no-decoration"
        [routerLink]="'/record/' + record.gameID + '/' + record.wave"
      >
        <i class="fas fa-share"></i> {{ record.transcript }}
      </a>
    </ng-template>
    <div class="meta-info">
      <a (click)="searchBySource()" class="tag filesource">
        Plik: {{ record.sourceFile.name }}
      </a>
      <a *ngIf="record.npcID" (click)="searchByNPC()" class="tag npc">
        NPC: {{ record.npc.name }}
      </a>
      <a (click)="searchByVoice()" class="tag actor">
        Aktor: {{ record.voice.name }}
      </a>
      <a *ngIf="record.guildID" (click)="searchByGuild()" class="tag guild">
        Gilda: {{ record.guild.name }}
      </a>
      <a (click)="searchByGame()" class="tag game">
        Gra: {{ record.game.name }}
      </a>
    </div>
  </div>
</div>

<div class="separator"></div>
