<div class="item">
  <div class="audio-item">
    <audio controls preload="none">
      <source src="{{parseFilename(filename)}}" type="audio/wav">
    </audio>
  </div>
  <div class="text-item">
    <span *ngIf="reportMode; else displayMode">
      <form class="report-form" (ngSubmit)="commitReport()">
        <span>Zaproponuj nowy tekst: </span>
        <input type="text" [(ngModel)]="reportDetails" name="reportDetails">
        <input type="submit">
        <i class="far fa-share" (click)="reportMode=false"></i>
      </form>
    </span>
    <ng-template #displayMode>
      <a class="no-decoration" [routerLink]="'/record/' + version + '/' + filename">
        <i class="fas fa-share"></i> {{record.transcript}}
      </a>
    </ng-template>
    <div class="meta-info">
      <a (click)="searchBySource()" class="filesource" [ngClass]="filesource ? 'clickable' : ''">
        Plik: {{ record.sourceFile.name }}
      </a>
      <a *ngIf="record.npcID" (click)="searchBySource()" class="npc" [ngClass]="filesource ? 'clickable' : ''">
        NPC: {{ record.npc.name }}
      </a>
      <a (click)="searchBySource()" class="actor" [ngClass]="filesource ? 'clickable' : ''">
        Aktor: {{ record.voice.name }}
      </a>
      <a *ngIf="record.guildID" (click)="searchBySource()" class="guild" [ngClass]="filesource ? 'clickable' : ''">
        Gilda: {{ record.guild.name }}
      </a>
      <span class="version">
        {{"Gothic " + romanNumerals[version - 1]}}
        <br> <span *ngIf="reportSent; else reportOption">Wysłano</span>
        <ng-template #reportOption>
          <span class="report" (click)="openReport()">
            Zgłoś błąd
          </span>
        </ng-template>
        <img *ngIf="loading" class="loading" src="/assets/loading.svg">
      </span>
    </div>
  </div>
</div>

<div class="separator"></div>
