<div class="sidenav">
  <div class="sidenav-item">
    <div class="logo">
      <span (click)="toggleSidePanel()" class="mobile-only mobile-toggler"><i class="fa fa-bars"></i></span>
      <a class="router-link" routerLink="/" routerLinkActive="active-link">
        SoundOfGothic
      </a>
    </div>
  </div>

  <div *ngIf="reportLink" class="sidenav-item link">
    <a class="router-link" routerLink="/reports" routerLinkActive="active-link">
      Zgłoszenia
    </a>
  </div>

  <div class="sidenav-item link">
    <a class="router-link" routerLink="/sfx" routerLinkActive="active-link">
      Dźwięki <span class="warning">(beta)</span>
    </a>
  </div>

  <div class="sidenav-item sidenav-item-selected">
    <form class="sound_form" (ngSubmit)="search()">
      <input [(ngModel)]="value" name="value" class="sound_search" type="text">
    </form>
    <span (click)="search()" class="icon-item"> <i class="fa fa-search"></i> </span>
  </div>

  <div class="sidenav-item centered">
    <span *ngIf="backDisplay" (click)="back()" class="icon-item-left"> <i class="fa fa-arrow-left"></i> </span>
    <span>{{recordCount}} - {{upTo}} / {{totalRecordCount}}</span>
    <span *ngIf="forwardDisplay" (click)="forward()" class="icon-item-right"> <i class="fa fa-arrow-right"></i> </span>
    <select (ngModelChange)="onPageSizeChange($event)" [(ngModel)]="pageSizeSelected">
      <option *ngFor="let option of pageSizeOptions" value="{{option}}">{{option}}</option>
    </select>
  </div>

  <div class="sidenav-item sidenav-panel no-mobile">
    <app-info-panel-component>
    </app-info-panel-component>
  </div>


  <div class="sidenav-item no-mobile">
    <app-versions-combo-box [selections]="versionSelections" (onSelectAction)="filterVersions($event)">
    </app-versions-combo-box>
  </div>

  <div class="separator"></div>

  <div *ngIf="displayTags" class="sidenav-item no-mobile">
    <app-combo-box-list [tags]="tags" [selections]="tagsSelections" (onSelectAction)="filterTags($event)">
    </app-combo-box-list>
  </div>

  <div class="sidenav-item sidenav-item-bottom right icons-set">
    <a href="https://github.com/soundofgothic" class="project-link">
      <i class="fab fa-github"></i>
    </a>
    <a class="project-link" href="https://www.facebook.com/Sound-of-Gothic-1996703900457878/">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>

</div>


<div class="main">
  <div class="loader" [ngClass]="(loading) ? 'loading' : ''">

    <div class="loading-gif">
      G
    </div>

  </div>

  <router-outlet></router-outlet>
</div>

<div class="sidenav mobile">
  <div class="sidenav-item centered">
    <span *ngIf="backDisplay" (click)="back()" class="icon-item-left"> <i class="fa fa-arrow-left"></i> </span>
    <span>{{recordCount}} - {{upTo}} / {{totalRecordCount}}</span>
    <span *ngIf="forwardDisplay" (click)="forward()" class="icon-item-right"> <i class="fa fa-arrow-right"></i> </span>
  </div>
  <div class="sidenav-item sidenav-panel">
    <app-info-panel-component>
    </app-info-panel-component>
  </div>
  <div class="sidenav-item centered icons-set">
    <a href="https://github.com/soundofgothic" class="project-link">
      <i class="fab fa-github"></i>
    </a>
    <a class="project-link" href="https://www.facebook.com/Sound-of-Gothic-1996703900457878/">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>
</div>

<div class="sidenav-block" (click)="toggleSidePanel()" [ngClass]="sidenavToggled ? 'visible' : '' ">
  <div class="mobile-expand-panel sidenav-item" [ngClass]="sidenavToggled ? 'visible' : '' ">
    <div *ngIf="displayTags" class="tag-mobile-panel">
      <div class="versions-mobile-panel">
        <app-versions-combo-box [selections]="versionSelections" (onSelectAction)="filterVersions($event)">
        </app-versions-combo-box>
      </div>
      <div class="separator"></div>
      <app-combo-box-list [tags]="tags" [selections]="tagsSelections" (onSelectAction)="filterTags($event)">
      </app-combo-box-list>
    </div>

    <div *ngIf="!displayTags" class="tag-mobile-panel">
      <div class="versions-mobile-panel">
        <app-versions-combo-box [selections]="versionSelections" (onSelectAction)="filterVersions($event)">
        </app-versions-combo-box>
      </div>
    </div>


  </div>
</div>


