.sidenav {
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #614a4e;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
}

.sidenav-item {
  width: calc(100% - 10px);
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
  font-family: DefaultFont;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  line-height: 40px;
}

.sidenav-item-selected {
  background-color: #888888;
}

.sidenav-item-bottom {
  position: absolute;
  bottom: 0;
}

.link {
  position: relative;
  text-align: right;
}

.logo {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 25px;
}

.icon-item {
  float: right;
  padding-right: 15px;
  padding-left: 5px;
  cursor: pointer;
  z-index: 100;
  font-size: 20px;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.icon-item-right {
  float: right;
  padding-right: 15px;
  padding-left: 5px;
  cursor: pointer;
  z-index: 100;
}

.icon-item-left {
  float: left;
  padding-left: 5px;
  cursor: pointer;
  z-index: 100;

}

.text-item {
}

.router-link {
  text-decoration: none;
  color: inherit;
}

.text-item-small{
  font-size: 0.7em;
}

.title {
  float: left;
  border: 1px solid white;
  overflow: hidden;
}

/* Main content */
.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0 10px;
  position: relative
}


.profile-text {
  text-align: center;
  padding-right: 25px;
}

.collapsed {
  overflow: hidden;
  list-style-type: none;
}

.sound_search {
  outline: 0;
  border: 0;
  line-height: 40px;
  font-size: 20px;
  color: white;
  background-color: inherit;
}

.sound_form {
  width: 75%;
}

form {
  display: inline-block;
}

.logo {
  min-width: 100%;
  height: auto;
}

.mobile {
  display: none;
}

.loader {
  visibility: hidden;
  opacity: 0;
}

.loading {
  background-color: #888888;
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  visibility: visible;
  opacity: 0.7;
  transition: 0.5s;
  height: 100%;
  z-index: 100;
}

@keyframes loading {
  from {color: white;}
  to {color: yellow;}
}

.loading-gif {
  position: absolute;
  font-size: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: loading;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

select {
  background-color: transparent;
  color: white;
  border: 0;
  margin-left: 10px;
  font-size: 16px;
  -moz-appearance: menuarrow;
  font-family: DefaultFont;
  outline: 0;
}

option {
  outline: 0;
  color: white;
  background-color: #614a4e;
}

.project-link {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
}

.icons-set {
  letter-spacing: 0.5em;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .sidenav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    visibility: visible;
    opacity: 0.7;
    transition: 0.5s;
    height: 100%;
    z-index: 100;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  .mobile {
    display: block;
  }

  .loading-gif {
    position: fixed;
  }

  .sidenav-item-bottom {
    display: none;
  }


}
