<div class="sidenav">
  <div class="sidenav-item">
    <div class="logo">
      <span
        (click)="toggleSidePanel()"
        class="mobile-only hamburger-icon mobile-toggler"
        ><i class="fa fa-bars"></i
      ></span>
      <a class="router-link" routerLink="/" routerLinkActive="active-link">
        SoundOfGothic
      </a>
    </div>
  </div>

  <div *ngIf="reportLink" class="sidenav-item link">
    <span class="reports-title">Zgłoszenia</span>
    <a
      class="router-link-report"
      routerLink="/reports/text"
      routerLinkActive="active-link"
    >
      Dialogi </a
    >|<a
      class="router-link-report"
      routerLink="/reports/sfx"
      routerLinkActive="active-link"
    >
      Dźwięki
    </a>
  </div>

  <div class="sidenav-item link">
    <a class="router-link" routerLink="/sfx" routerLinkActive="active-link">
      Dźwięki <span class="warning">(beta)</span>
    </a>
  </div>

  <div class="sidenav-item sidenav-item-selected">
    <form class="sound_form" (ngSubmit)="search()">
      <input
        [(ngModel)]="value"
        name="value"
        class="sound_search"
        type="text"
      />
    </form>
    <span (click)="search()" class="icon-item">
      <i class="fa fa-search"></i>
    </span>
  </div>

  <div class="sidenav-item centered">
    <span *ngIf="backDisplay" (click)="back()" class="icon-item-left">
      <i class="fa fa-arrow-left"></i>
    </span>
    <span>{{ recordCount }} - {{ upTo }} / {{ totalRecordCount }}</span>
    <span *ngIf="forwardDisplay" (click)="forward()" class="icon-item-right">
      <i class="fa fa-arrow-right"></i>
    </span>
    <select
      (ngModelChange)="onPageSizeChange($event)"
      [(ngModel)]="pageSizeSelected"
    >
      <option *ngFor="let option of pageSizeOptions" value="{{ option }}">
        {{ option }}
      </option>
    </select>
  </div>

  <div class="sidenav-item sidenav-panel no-mobile">
    <app-info-panel-component> </app-info-panel-component>
  </div>

  <div *ngIf="!recordMode" class="sidenav-item no-mobile">
    <app-versions-combo-box
      [selections]="versionSelections"
      (onSelectAction)="filterVersions($event)"
    >
    </app-versions-combo-box>
  </div>

  <div *ngIf="!recordMode" class="separator no-mobile"></div>

  <div *ngIf="!recordMode" class="sidenav-item no-mobile">
    <app-combo-box
      [items]="voiceFilters"
      (onSelectAction)="filterVoices($event)"
    >
    </app-combo-box>
  </div>

  <a
    *ngIf="!recordMode"
    (click)="toggleSidePanel()"
    class="sidenav-item centered clickable"
  >
    Więcej <i class="fa fa-arrow-right"></i>
  </a>

  <div *ngIf="displayTags" class="separator no-mobile"></div>

  <div *ngIf="displayTags" class="sidenav-item no-mobile">
    <app-combo-box-list
      [tags]="tags"
      [selections]="tagsSelections"
      (onSelectAction)="filterTags($event)"
    >
    </app-combo-box-list>
  </div>

  <div class="sidenav-item right icons-set no-mobile">
    <a href="https://github.com/soundofgothic" class="project-link">
      <i class="fab fa-github"></i>
    </a>
    <a
      class="project-link"
      href="https://www.facebook.com/Sound-of-Gothic-1996703900457878/"
    >
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>
</div>

<div class="main">
  <div class="loader" [ngClass]="loading ? 'loading' : ''">
    <div class="loading-gif">G</div>
  </div>

  <router-outlet></router-outlet>
</div>

<div class="sidenav mobile">
  <div class="sidenav-item centered">
    <span *ngIf="backDisplay" (click)="back()" class="icon-item-left">
      <i class="fa fa-arrow-left"></i>
    </span>
    <span>{{ recordCount }} - {{ upTo }} / {{ totalRecordCount }}</span>
    <span *ngIf="forwardDisplay" (click)="forward()" class="icon-item-right">
      <i class="fa fa-arrow-right"></i>
    </span>
  </div>
  <div class="sidenav-item sidenav-panel">
    <app-info-panel-component> </app-info-panel-component>
  </div>
  <div class="sidenav-item centered icons-set">
    <a href="https://github.com/soundofgothic" class="project-link">
      <i class="fab fa-github"></i>
    </a>
    <a
      class="project-link"
      href="https://www.facebook.com/Sound-of-Gothic-1996703900457878/"
    >
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>
</div>

<div
  class="sidenav-block mobile"
  [ngClass]="sidenavToggled ? 'visible' : ''"
  #sidenav
>
  <!-- MOBILE "MORE" OPTIONS -->
  <div
    class="mobile-expand-panel sidenav-item"
    [ngClass]="sidenavToggled ? 'visible' : ''"
  >
    <h2>Gra</h2>
    <app-versions-combo-box
      [selections]="versionSelections"
      (onSelectAction)="filterVersions($event)"
    >
    </app-versions-combo-box>

    <h2>Głos</h2>
    <div class="combobox-panel-mobile">
      <app-combo-box
        [items]="voiceFilters"
        (onSelectAction)="filterVoices($event)"
      >
      </app-combo-box>
    </div>

    <h2>NPC</h2>
    <div class="combobox-panel-mobile">
      <app-combo-box
        [items]="npcFilters"
        (onSelectAction)="filterNPCs($event)"
        (onSearchAction)="searchNPCs($event)"
      >
      </app-combo-box>
    </div>
    <h2>Gildia</h2>
    <div class="combobox-panel-mobile">
      <app-combo-box
        [items]="guildFilters"
        (onSelectAction)="filterGuilds($event)"
        (onSearchAction)="searchGuilds($event)"
      >
      </app-combo-box>
    </div>
    <div class="combobox-panel-mobile">
      <h2>Skrypt</h2>
      <app-combo-box
        [items]="scriptFilters"
        (onSelectAction)="filterScripts($event)"
        (onSearchAction)="searchScripts($event)"
      >
      </app-combo-box>
    </div>
    <div *ngIf="displayTags" class="separator"></div>
    <app-combo-box-list
      *ngIf="displayTags"
      [tags]="tags"
      [selections]="tagsSelections"
      (onSelectAction)="filterTags($event)"
    >
    </app-combo-box-list>
  </div>
</div>

<div
  class="sidenav-block no-mobile clicking-block"
  (click)="toggleSidePanel($event)"
  [ngClass]="sidenavToggled ? 'visible' : ''"
>
  <div
    #expandPanel
    class="mobile-expand-panel sidenav-item"
    [ngClass]="sidenavToggled ? 'visible' : ''"
  >
    <div class="search-grid">
      <div class="grid-1">
        <h1>NPC</h1>
        <app-combo-box
          [items]="npcFilters"
          (onSelectAction)="filterNPCs($event)"
          (onSearchAction)="searchNPCs($event)"
        >
        </app-combo-box>
      </div>
      <div class="grid-2">
        <h2>Gildia</h2>
        <app-combo-box
          [items]="guildFilters"
          (onSelectAction)="filterGuilds($event)"
          (onSearchAction)="searchGuilds($event)"
        >
        </app-combo-box>
      </div>
      <div class="grid-3">
        <h2>Skrypt</h2>
        <app-combo-box
          [items]="scriptFilters"
          (onSelectAction)="filterScripts($event)"
          (onSearchAction)="searchScripts($event)"
        >
        </app-combo-box>
      </div>
    </div>
  </div>
</div>
