/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: DefaultFont;
  src: url("/assets/fonts/font.ttf");
  font-weight: normal;
  font-style: normal;
}

audio::-webkit-media-controls-panel {
  background-color: #888888;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /*position: relative;*/
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #bmc-wbtn {
    display: none !important;
  }

  #bmc-wbtn+div {
    display: none !important;
  }
}